/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  max-width: 100%;
}

.container{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

header{
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  background-color: rgb(236, 114, 14) ;
}

header .container{
  display: flex;
  justify-content: space-between;
}

header .menu ul{
  list-style: none;
  display: flex;
  color: white;
 
}

header .menu ul li{
  margin: 0 5px;
}

header .menu ul li a:hover{
  color: black;
  text-decoration: underline;
}

header .menu ul a{
  color: white;
  text-decoration: none;
}


.logo img{
  height: 30px;
}

/* MAIN */

main .container .row{
  display: flex;
}

.product{
  display: inline-block;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  margin-top: 5%;
  width: 350px;
  background-color: brown;
}

.product .heart{
  position: absolute;
  top: 2%;
  right: 0;
  text-align: center;
  background-color: white;
  font-size: 20px;
  width: 7%;
  height: 5%;
}

.product .heart:hover{
  color: red;
}





